/*
 * -------------------------------------------------
 *  sheynkman-lab/Long-Read-Proteogenomics Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  // Workflow flags
  
  outdir = './results'
  name = false

  css_reads = false
  gencode_fasta = false
  primers_fasta = false
  max_cpus = 10
  
    
  // Boilerplate options
  help = false
}

// Ensure that docker is enab
apptainer.enabled = true
process.container = "${NXF_SINGULARITY_CACHEDIR}/proteogenomics-base_latest.sif"
apptainer.autoMounts = true


// Define the exact container we need to use for the individual processes:
process {
    // Overwrites 
    withName: isoseq3 {
        container = "${NXF_SINGULARITY_CACHEDIR}/isoseq3_latest.sif"
    }
}